{% extends "base.html" %}

{% block content %}
<h3>{{ action }} Task</h3>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary w-100 mt-2">{{ action }}</button>
</form>

<hr>

<h4>Comments</h4>

{% for c in comments %}
  <div class="card mb-2">
    <div class="card-body">

      <strong>
        {{ c.author|default:c.username }}
      </strong>

      <small class="text-muted">
        ({{ c.timestamp|default:c.created_at }})
      </small>

      <p>{{ c.text|default:c.content }}</p>

    </div>
  </div>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}


<hr>

<h4>Add Comment</h4>
<form method="POST" action="{% url 'add_comment' task_id %}">
    {% csrf_token %}
    {{ comment_form.text }}
    <button type="submit" class="btn btn-sm btn-primary mt-2">Add Comment</button>
</form>


{% endblock %}
